:root {
   --primary-brand-color: #4D5AE5;
   --pressed-state: #404BBF;
   --body-text-color: #434455;
   --accent-color: #E7E9FC;
   --primary-white-color: #FFFFFF;
   --dark-color: #2E2F42;
   --light-mode-color: #F4F4FD;
   --herobackground-headings: #2E2F42;
   --icon-initial-state: #8E8F99;
   --footer-icon-pressed-state: #31D0AA;
   --modal-background:#FCFCFC;
   --transition-duration: 250ms;
}

* {
   box-sizing: border-box;
   margin: 0;
}

body {
   background-color: var(--primary-white-color);
   color: var(--body-text-color);
   font-size: 16px;
   font-family: "Roboto", sans-serif;
   letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin: 0;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

.link {
   text-decoration: none;
   color: inherit;
}

.list {
   list-style-type: none;
   padding: 0;
   margin: 0;
}

.nav-menu a:hover,
.nav-menu a:focus,
.contacts-menu a:hover,
.contacts-menu a:focus {
   color: var(--pressed-state);
   transition: color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

/*header section -- all pages*/
.header-section {
   border-bottom: 1px solid var(--accent-color);

}


.menu,
.nav-container,
.nav-menu,
.contacts-menu {
   display: flex;
   align-items: center;
}

.menu {
   justify-content: space-between;
}

.container {
   width: 1158px;
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
}

/* logo */
.logo {
   color: var(--accent-color);
   font-family: "Raleway", sans-serif;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.3;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   word-spacing: -0.2em;
   text-decoration: none;
   display: flex;
}

.web_logo {
   color: var(--primary-brand-color);
}

.studio_black_logo {
   color: var(--dark-color);
}

.studio_white_logo {
   color: var(--primary-white-color);
}

/* header section: navigation menu */

.nav-menu .page,
.contacts-menu .contact {
   display: flex;
   padding-top: 25.5px;
   padding-bottom: 25.5px;
   color: var(--body-text-color);
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 24px;
   letter-spacing: 0.32px;
   transition: color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu,
.page,
.contacts-menu,
.contact {
   gap: 40px;
}



contacts-menu {
   margin-left: auto;
   justify-items: right;
}

.nav-menu .item:first-child {
   margin-left: 76px;
}

.contacts-menu .item:first-child {
   margin-left: 332px;
}

.nav-menu .page-current {
   color: var(--pressed-state);
   /*newly added*/
   position: relative;
}

.page-current::after {
   content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--pressed-state);
}

/* hero section -- index.html*/
.hero {
   padding-top: 200px;
   padding-bottom: 200px;
   text-align: center;
}

.hero-background {
   flex-grow: 1;
   background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url("../images/people-office.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   max-width: 1440px;
   margin: 0 auto;
}

.hero-title {
   font-size: 56px;
   color: var(--primary-white-color);
   width: 496px;
   margin-right: auto;
   margin-left: auto;
   margin-bottom: 48px;
}


/* buttons */
button {
   font-family: inherit;
   border-radius: 4px;
   border-color: transparent;
   cursor: pointer;
}

.button-primary {
   padding: 16px 32px;
   background-color: var(--primary-brand-color);
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 24px;
   letter-spacing: 0.64px;
   color: var(--primary-white-color);
   transition: background-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.button.button-primary:hover,
.button.button-primary:focus {
   background-color: var(--pressed-state);
   transition: background-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.button.button-primary:active {
   background-color: var(--primary-brand-color);
}

.filter-buttons {
   display: flex;
   margin-bottom: 72px;
   justify-content: center;
}

.filter-buttons-item {
   margin-right: 24px;
}

.filter,
.filter-current {
   background-color: var(--light-mode-color);
   color: var(--primary-brand-color);
   border-color: transparent;
   padding: 12px 24px;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.04em;
   cursor: pointer;
   display: flex;
   transition: background-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

/*
.filter-button-current {
    background-color: var(--pressed-state);
    color: var(--primary-white-color);
    border-color: transparent;
}
*/

.button.filter:hover,
.button.filter:focus {
   background-color: var(--pressed-state);
   color: var(--primary-white-color);
   border-color: transparent;
   box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
   transition: box-shadow var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.section {
   padding-top: 120px;
   padding-bottom: 120px;
}

section.no-top-padding {
   padding-top: 0;
}

.section-title {
   font-size: 36px;
   font-style: normal;
   font-weight: 700;
   line-height: 40px;
   letter-spacing: 0.72px;
   text-transform: capitalize;
   text-align: center;
   color: var(--dark-color);
   margin-bottom: 72px;
}

.title {
   font-size: 20px;
   font-style: normal;
   font-weight: 500;
   line-height: 24px;
   letter-spacing: 0.4px;
   margin-bottom: 8px;
}

.features {
   display: flex;
   gap: 24px;
}

/* what are we doing section --index.html */

.what-are-we-doing-list {
   display: flex;
   flex-wrap: wrap;
   gap: 24px;
}

.what-are-we-doing-list.item {
   flex-basis: calc((100%-(2*24))/3);
}


/* team section --index.html */

.team-background {
   background-color: var(--light-mode-color);
}

.team-list {
   display: flex;
   flex-wrap: wrap;
   gap: 24px;
}

.team-list.item {
   flex-basis: calc(100%/4 - 24px);
}

.team-list .item {
   background-color: var(--primary-white-color);
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
}

.team-list .name {
   font-size: 20px;
   font-style: normal;
   font-weight: 500;
   line-height: 24px;
   letter-spacing: 0.4px;
   margin-top: 32px;
   margin-bottom: 8px;
   color: var(--dark-color);
}

.team-list .post {
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px;
   letter-spacing: 0.32px;
   margin-bottom: 8px;
}

.team-list .name,
.team-list .post {
   text-align: center;
}

.socmed-list {
   display: flex;
   flex-wrap: wrap;
   gap: 24px;
   justify-content: center;
   align-items: center;
   margin-bottom: 32px;
}

.socmed-item {
   position: relative;
   display: inline-block;
}

.social-link {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   width: 40px;
   height: 40px;
   text-align: center;
   line-height: 40px;
   border-radius: 50%;
   background-color: var(--primary-brand-color);
   transition: background-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
   text-decoration: none;
   outline: none;
}

/* Hover and focus styles */
.social-link:hover,
.social-link:focus {
   background-color: var(--pressed-state);
   outline: none;
   transition: background-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover svg use,
.social-link:focus svg use {
   fill: var(--accent-color);
   cursor: pointer;
   transition: fill var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

/* modal */
.backdrop {
   position: fixed;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.40); /* D1 */
   width: 100%; /* D2 */
   height: 100%; /* D2 */
   pointer-events: auto;
   opacity: 1;
   transition-property: visibility, opacity;
   transition-duration: var(--transition-duration);
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
   visibility: hidden;
   opacity: 0;
   pointer-events: none;
}

.modal {
   position: absolute;
   top: 50%;
   left: 50%;
   min-width: 408px;
   min-height: 584px;
   flex-shrink: 0;
   background-color: var(--modal-background);
   border-radius: 4px;
   box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20),
      0px 1px 3px 0px rgba(0, 0, 0, 0.12),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14);

   
   transform: translate(-50%, -50%) scale(1);
   transition: transform var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
   transform: translate(-50%, -50%) scale(0.5);
}

.modal .close {
   position: absolute;
   top: 15px;
   right: 15px;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 24px;
   height: 24px;
   background-color: var(--accent-color);
   color: var(--black-color);
   border: 1px solid rgba(0, 0, 0, 0.10);
   border-radius: 15px;
   cursor: pointer;
   transition: color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}


.modal .close:hover,
.modal .close:focus {
   background-color: var(--pressed-state);
   fill: var(--light-mode-color);
   transition: background-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

/* project cards -portfolio.html */

.project-cards {
   display: flex;
   flex-wrap: wrap;
   margin-left: -30px;
   margin-top: -30px;
}

.project-card {
   flex-basis: calc(100%/3 - 30px);
   margin-left: 30px;
   margin-top: 30px;
}


.project-card:hover,
.project-card:focus {
   box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
   transition: box-shadow var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

/* the overlay part */
.project-card-figure {
   position: relative;
   overflow: hidden;
}

.project-card-figure figcaption {
   position: absolute;
   top: 0px;
   left: 0px;
   width:100%;
   height: 100%;
   background-color: var(--primary-brand-color);
   padding:40px;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px;
   letter-spacing: 0.32px;
   color: var(--light-mode-color);
   
   transition: transform var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
   transform: translateY(100%);
}

.project-card:hover figcaption {
   transform: translateY(0);
   transition: transform var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

/*until here */

.substrate {
   background-color: var(--primary-white-color);
   padding: 20px 24px;
   border: 1px solid #EEEEEE;
   border-top: 0;
}

/*footer section -- all pages*/

.footer-section {
   padding-top: 100px;
   padding-bottom: 100px;
}

.footer-background {
   background-color: var(--herobackground-headings);
}

.footer-section .logo {
   margin-bottom: 17.5px;
}

.footer-section p {
   color: var(--primary-white-color);
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px;
   letter-spacing: 0.32px;
   margin-bottom: 16px;
}

.footer-container {
   display: flex;
   flex-wrap: wrap;
   margin-top: -12px;
   margin-left: -86px;
   align-items: baseline;
}

.footer-left,
.footer-right{
   margin-top: 12px;
   margin-left: 86px;
}

.footer-right p {
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 24px;
   letter-spacing: 0.32px;
}

/* footer social media icons */
.footer-icons {
   list-style: none;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 24px;
}

.footer-icon {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 40px;
   background-color: var(--primary-brand-color);
   color: var(--icon-color);
   border-radius: 50%;
   transition: color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

/* Hover and focus styles */
.footer-icon:hover,
.footer-icon:focus {
   background-color: var(--footer-icon-pressed-state);
   outline: none;
   transition: background-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon:hover svg use,
.footer-icon:focus svg use {
   fill: var(--accent-color);
   cursor: pointer;
   transition: fill var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button {
   display: inline-flex;
   padding: 8px 24px;
   justify-content: center;
   align-items: center;
   gap: 16px;
   height: 40px;
   width: 165px;
}

.subscribe-button:hover,
.subscribe-button:focus {
   background: var(--pressed-state);
   transition: background var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);

}

.subscribe-form .form-input {
   width: 264px;
   height: 40px;
   flex-shrink: 0;
   border-radius: 4px;
   border: 1px solid var(--primary-white-color);
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
   background-color: transparent;
   padding-left: 16px;

   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px;
   letter-spacing: 0.48px;
   margin-right: 24px;
   color: var(--primary-white-color);
}

.subscribe-form .form-input:focus {
   outline: none;
}

/*Customers Section */
.partners {
   display: flex;
   flex-wrap: wrap;

}

.partners .item {
   flex-basis: calc(100% / 6 - 30px);
   margin: 0 auto;
}

.partners .link {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 170px;
   height: 92px;
   border: 1px solid var(--icon-initial-state);
   border-radius: 4px;
   fill: var(--icon-initial-state);
   outline: none;
   transition: border var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.icon use:hover,
.partners .link:hover,
.icon use:focus,
.partners .link:focus {
   fill: var(--pressed-state);
   border: 2px solid var(--pressed-state);
   transition: fill var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);

}

/* Modal Form*/

.hero-form {
   /*margin-top: 72px;*/
   padding: 72px 24px 24px 24px;

}

.hero-form-title {
   color: var(--dark-color);
   text-align: center;

   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 24px;
   letter-spacing: 0.32px;
   padding-bottom:16px;
}

.form-field {
   display: block;
   position: relative;
   /*margin-left: 24px;
   margin-right: 24px;*/
}

label {
   display: block;
   margin-bottom: 4px;
   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   line-height: 14px;
   letter-spacing: 0.48px;
   /*padding-left: 24px;*/

}

.form-field .icon {
   position: absolute;
   top: 50%;
   left: 12px;
   transform: translateY(-50%);

   fill: var(--primary-black-color);

   transition: fill var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

/*.form-input:hover+.icon,*/
.form-input:focus+.icon {
   fill: var(--pressed-state);
   transition: fill var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field .form-input,
.form-field .form-textarea {
   display: block;
   width: 100%;
   margin-bottom: 8px;
   padding: 11px 16px 11px 40px;
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;

   line-height: 0.87;
   letter-spacing: 0.01em;
   color: var(--primary-black-color);

   font-size: 12px;
   font-style: normal;
   font-weight: 400;

   transition: border-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);

}

.form-field .form-textarea {
   padding-left: 16px;
   margin-bottom: 16px;
   resize:none;
}

/*.form-field .form-input:hover,
.form-field .form-textarea:hover,*/
.form-field .form-input:focus,
.form-field .form-textarea:focus {
   outline: none;
   border-color: var(--pressed-state);
   transition: border var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field .form-textarea::placeholder {
   color: rgba(117, 117, 117, 0.5);
}

.form-field-checkbox {
   position: relative;
   display: flex;
   align-items: center;
   margin-bottom: 24px;
   
}

.checkbox-icon {
   display: inline-block;
   width: 16px;
   height: 16px;
   margin-right: 8px;
   border-radius: 2px;
   border: 1px solid rgba(46, 47, 66, 0.4);
   fill: transparent;
   transition: background-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1),
      border var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1),
      fill var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-checkbox span {
   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   line-height: 14px;
   letter-spacing: 0.48px;
}

.form-field-checkbox a {
   color: var(--primary-brand-color);
   font-size: 12px;
   line-height: 16px;
   letter-spacing: 0.48px;
   text-decoration-line: underline;
   transition: color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-checkbox a:hover,
.form-field-checkbox a:focus {
   color: var(--pressed-state);
   transition: color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

#terms:checked~.checkbox-icon {
   background-color: var(--pressed-state);
   border: none;
   fill: var(--light-mode-color);
}


.form-field-checkbox label {
   display: flex;
   align-items: center;
   position: relative;
}

.hidden-checkbox {
   position: absolute;
   white-space: nowrap;
   width: 1px;
   height: 1px;
   overflow: hidden;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   margin: -1px;
}

.modal-send-button {
   display: block;
      width: 169px;
      height: 56px;
      padding: 16px 32px;
      margin: 0 auto;
      text-align: center;
      border-radius: 4px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
   
      background-color: var(--iris, #4d5ae5);
      color: var(--white, #fff);
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5em;
      /* 150% */
      letter-spacing: 0.64px;
   
      border: none;
      cursor: pointer;
   
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send-button:hover,
.modal-send-focus:focus {
   background-color: var(--pressed-state);
}
